.a1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 26px;
}
.a2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #333;
	margin-left: 35px;
}
